.bold-button {
    /* -fx-background-image: url('images/bold.png'); */
    -fx-background-size: cover
}

.italic-button {
    /* -fx-background-image: url('images/italic.png'); */
    -fx-background-size: cover
}
